.aboutMe-header{
    height: 60px;
    display: flex;
    gap: 12px;
    padding: 0 24px;
    align-items: center;
    outline: 1px solid;
    background-color: #64b4ed;
    font-weight: 500;
    font-size: 20px;
}
.divider {
    width: 1px;
    height: 80%;
    background-color: #f5f5f5;
}
.aboutMe-header .link {
    cursor: pointer;
    text-decoration: underline;
}
.aboutMe-header .title {
    color: #f5f5f5;
}
.aboutMe-footer {
    background-color: black;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    gap: 12px;
}
.aboutMe-footer a {
    color: white;
}