.header {
    background-color: black;
    color: white;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}
.position,.instruction {
    display: flex;
    align-items: center;
    gap: 12px;
}
.instruction {
    color: yellow;
}
.instruction .time {
    color: white;
    font-weight: 800;
}
